
@media screen and (min-width: 310px) and (max-width:766px) {
    nav.navbar.navbar-expand-lg {
        position:relative
    }

    div#navbarNav {
        top: 16vh;
        background-color: #fafcff
    }

    .navbar-collapse.left-menu.align-middle.collapse.show,div#navbarNav {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 5;
        -moz-text-align-last: center;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important
    }

    .navbar-collapse.left-menu.align-middle.collapse.show {
        top: 15vh;
        background-color: #eefaff
    }

    li.nav-item {
        line-height: 3rem
    }

    ul.navbar-nav.navbar-menu-list {
        padding-bottom: 1em;
        font-weight: 600;
        font-size: 1.6rem
    }

    img.hero-image {
        height: inherit;
        transform: translate(-6px,-130px)
    }

    .hero-section {
        overflow: auto;
        background-image: none;
        
        height: 91vh;
    }

    div#navbarText {
        text-align: -webkit-center;
        transform: translateY(-2em)
    }

    ul.navbar-nav.navbar-menu-list {
        line-height: 1.2rem
    }

    ul.nav.navbar-nav.navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap
    }

    .row.justify-content-md-center.home-section-row {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100vw;
        height: 118vh;
        display: block
    }

    .left-side {
        width: auto;
        height: auto;
        padding: 2.3em .1em 0 7em
    }

    .col.col-lg-5.col-md-6.left-side-col {
        height: 76vh;
    }

    .left-title-dec h1 {
        font-size: 2.15rem;
        line-height: 2.762rem
    }

    p.left-dec {
        font-size: .881rem
    }

    .left-title-btn {
        width: auto;
        padding-top: .73em
    }

    .left-side.justify-content-center {
        width: auto;
        height: auto;
        padding: .3em .1em 0 1em
    }

    img.review-img {
        width: 53vw;
        -o-object-fit: contain;
        object-fit: contain;
        margin-top: 0
    }

    .review-box {
        width: auto;
        height: auto;
        padding: 0 0 .31em
    }

    img.img-fluid.right-side-img-1.image {
        width: 13.5vw;
        height: 25vh;
        position: absolute;
        top: -12vh;
        left: 87vw;
        display: none
    }

    img.img-fluid.right-side-img-2.display-right-images {
        max-width: 93vw;
        height: auto;
        position: absolute;
        -o-object-fit: contain;
        object-fit: cover;
        top: -17vh;
        left: 6vw
    }

    img.right-side-img-3.image {
        position: absolute;
        left: -5.49vw;
        top: -2vh;
        width: 63vw;
        transform: translateZ(0);
        z-index: 1;
        max-height: 39vh;
    }

    img.img-fluid.right-side-img-4 {
        width: 63vw;
        height: 74vh;
        position: absolute;
        top: -34vh;
        transform: translateX(3em);
        z-index: auto
    }

    .col.col-lg-7.right-side {
        width: 100vw
    }

    .mobile-background {
        width: 100vw;
        position: relative;
        display: block;
        height: auto;
        background-color: #fff
    }

    img.hero-mobile-svg {
        position: absolute;
        display: block;
        bottom: -4vh;
        width: 100%
    }

    .right-images {
        position: relative;
        height: 42vh;
        width: 100vw
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    nav.navbar.navbar-expand-lg {
        position:relative
    }

    .navbar-collapse.left-menu.align-middle.collapse.show,div#navbarNav {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        -moz-text-align-last: center;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important
    }

    li.nav-item {
        line-height: 3rem
    }

    ul.nav.navbar-nav.navbar-right li {
        width: 100%;
        margin: auto;
        padding-bottom: 4vh
    }

    ul.nav.navbar-nav.navbar-right {
        width: auto;
        height: auto
    }

    ul.navbar-nav.navbar-menu-list {
        padding-bottom: 1em;
        line-height: 1.2rem;
        font-weight: 600;
        font-size: 1.6rem
    }

    .left-side.justify-content-center {
        width: auto;
        height: auto;
        padding: 1em 0 0 4em
    }

    .left-title-dec h1 {
        font-size: 3.99vw
    }

    img.rectangle-img2 {
        max-width: 26vw;
        height: 22.19rem;
        transform: translate(-9em,1em)
    }

    img.right-side-img-3.image {
        position: absolute;
        left: -12.49vw;
        top: 44vh;
        width: 37vw;
        transform: translateZ(0);
        z-index: 1;
        max-height: 44vh
    }

    img.right-side-img-4 {
        position: absolute;
        left: 14vw;
        height: 30em;
        top: -8vh;
        transform: rotate(188deg);
        width: 86%;
        border-radius: 50%;
        filter: blur(2em)
    }

    img.right-side-img-1.image {
        max-width: 16vw
    }

    img.right-side-img-2.display-right-images {
        max-width: 64vw;
        position: relative;
        -o-object-fit: fill;
        object-fit: fill;
        left: -8vw;
        max-height: 86vh
    }
}

@media screen and (max-width: 320px) {


img.img-fluid.right-side-img-2.display-right-images {
    top: -7vh;
}

.left-side.justify-content-center {
    height: auto;
}

.col.col-lg-5.col-md-6.left-side-col {
    height: 92vh;
}

img.hero-mobile-svg {
    bottom: -116px;
}

img.img-fluid.right-side-img-3.image {
    top: 29vh;
}

img.img-fluid.right-side-img-4 {
    top: -27vh;
}

.mobile-background {
    position: relative;
    height: 69vh;
}

.right-images {
    position: relative;
}


}
