@media (min-width: 310px) and (max-width: 766px) {


        /* for navbar */
        nav.navbar.navbar-expand-lg {
            position: relative;
        }
        
    div#navbarNav {
        text-align-last: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }
        .navbar-collapse.left-menu.align-middle.collapse.show {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 15vh;
            left: 0;
            background-color: #eefaff;
            z-index: 5;
            text-align-last: center;
            padding-top: 13vh;
            overflow-y: hidden!important;
        }

        li.nav-item {
            line-height: 3rem;
        }
        ul.navbar-nav.navbar-menu-list {
            padding-bottom: 1em;
            line-height: 1.2rem;
                font-weight: 600;
    font-size: 1.6rem;
        }

    img.hero-image {
        height: inherit;
        transform: translate(-6px, -130px);
    }

    .hero-section {
        overflow: auto;
        background-image: none;
    }

    div#navbarText {
        text-align: -webkit-center;
        transform: translateY(-2em);
    }

    ul.navbar-nav.navbar-menu-list {
        line-height: 1.2rem;
    }

    ul.nav.navbar-nav.navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .row.justify-content-md-center.home-section-row {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100vw;
        height: 118vh;
        display: block;
        /* overflow: hidden; */
    }

    .left-side {
        width: auto;
        height: auto;
        padding: 2.3em 0.1em 0em 7em;
    }
    .col.col-lg-5.col-md-6.left-side-col {
        height: 93vh;
    }
    .left-title-dec h1 {
        font-size: 2.15rem;
        line-height: 2.762rem;
    }

    p.left-dec {
        font-size: .881rem;
    }

    .left-title-btn {
        width: auto;
        padding-top: 0.73em;
    }

    .left-side.justify-content-center {
        width: auto;
        height: auto;
        padding: 0.3em 0.1em 0em 1em;
    }

    img.review-img {
        width: 53vw;
        -o-object-fit: contain;
        object-fit: contain;
        margin-top: 0em;
    
    }

    .review-box {
        width: auto;
        height: auto;
        padding: 0em 0em 0.31em 0em;
    }

    

img.img-fluid.right-side-img-1.image {
width: 13.5vw;
height: 25vh;
position: absolute;
top: -12vh;
left: 87vw;
display: none;
}

img.img-fluid.right-side-img-2.display-right-images {
    max-width: 93vw;
    height: auto;
    position: absolute;
    -o-object-fit: contain;
    object-fit: cover;
    top: -17vh;
    left: 6vw;
}

img.right-side-img-3.image {
    position: absolute;
    left: 0.51vw;
    top: 13vh;
    width: 52vw;
    transform: translate3d(0em, 0em, 0em);
    z-index: 1;
    max-height: 42vh;
}

img.img-fluid.right-side-img-4 {
    width: 63vw;
    height: 74vh;
    position: absolute;
    top: -19vh;
    transform: translateX(3em);
    z-index: auto;
}
    /* .mobile-background {
    display: block;
    width: 100vw;
    height: 83vh;
    background-image: url(/img/mobile-bg.svg);
    background-color: white;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 102% 34%;
} */
    .col.col-lg-7.right-side {
        width: 100vw;
    }

    .mobile-background {
        width: 100vw;
        position: relative;
        display: block;
        height: auto;
        background-color: white;
    }


    img.hero-mobile-svg {
        position: absolute;
        display: block;
        bottom: -16vh;
        width: 100%;
    }
    .right-images {
        position: relative;
        height: 62vh;
        width: 100vw;
    }

}




/* Media query for tablet devices */
 @media (min-width: 200px) and (max-width: 402px) {

      /* for navbar */
      nav.navbar.navbar-expand-lg {
        position: relative;
    }
    .navbar-collapse.left-menu.align-middle.collapse.show {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 15vh;
        left: 0;
        background-color: #eefaff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }

    div#navbarNav {
        text-align-last: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }
    li.nav-item {
        line-height: 3rem;
    }
    ul.navbar-nav.navbar-menu-list {
        padding-bottom: 1em;
        line-height: 1.2rem;
            font-weight: 600;
font-size: 1.6rem;
    }
   
    img.review-img {
        width: 63vw;

    }

    .col.col-lg-5.col-md-6.left-side-col {
        height: 82vh;
    }
    .right-images {
        position: relative;
        height: 51vh;
        width: 100vw;
    }
   

    .left-title-dec h1 {
        font-size: 1.98rem;
        line-height: 2.32rem;
        padding-bottom: 0.32em;
    }

    img.img-fluid.right-side-img-2.display-right-images {
        max-width: 96vw;
        position: relative;
        top: -9vh;
        left: 3.7vw;
        -o-object-fit: cover;
        object-fit: cover;
        height:auto;
    }
    img.img-fluid.right-side-img-3.image {
        position: relative;
        height: 30vh;
        width: 58vw;
        left: -2vw;
        top: -35vh;
        padding-bottom: 0.1em;
    }
 
    img.img-fluid.right-side-img-4 {
        width: 54vw;
        height: 51vh;
        position: absolute;
        top: -11vh;
        left: 36vw;
        overflow: hidden;
        transform: translateX(1em);
    }
    .mobile-background {
        width: 100vw;
        position: relative;
        display: block;
        height: 51vh;
        background-color: white;
        background-image: url(/img/mobile-bg.png);
        background-size: 100% 50%;
        background-repeat: no-repeat;
    }
    img.hero-mobile-svg {
        position: absolute;
        display: block;
        bottom: -5.5vh;
        width: 100%;
    }
} 


 @media (min-width: 307px) and (max-width: 371px) {

      /* for navbar */
      nav.navbar.navbar-expand-lg {
        position: relative;
    }
    .navbar-collapse.left-menu.align-middle.collapse.show  {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 15vh;
        left: 0;
        background-color: #eefaff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }



    div#navbarNav {
        text-align-last: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }

    li.nav-item {
        line-height: 3rem;
    }
    ul.navbar-nav.navbar-menu-list {
        padding-bottom: 1em;
        line-height: 1.2rem;
            font-weight: 600;
font-size: 1.6rem;
    }
    .left-title-dec h1 {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding-bottom: 0.32em;
        font-weight: bold;
    }
    .signup-btn {
        font-size: 1rem;
      
        margin-right: 0.3em;
    }
    img.review-img {
        width: 79vw;
    }


 }


 @media (min-width: 768px) and (max-width: 991px) {

      /* for navbar */
      nav.navbar.navbar-expand-lg {
        position: relative;
    }
    .navbar-collapse.left-menu.align-middle.collapse.show {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }

    div#navbarNav {
        text-align-last: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 16vh;
        left: 0;
        background-color: #fafcff;
        z-index: 5;
        text-align-last: center;
        padding-top: 13vh;
        overflow-y: hidden!important;
    }

    li.nav-item {
        line-height: 3rem;
    }
    ul.nav.navbar-nav.navbar-right li {
        width: 100%;
        margin: auto;
        padding-bottom: 4vh;
    }
    
    ul.nav.navbar-nav.navbar-right {
        width: auto;
        height: auto;
    }
    ul.navbar-nav.navbar-menu-list {
        padding-bottom: 1em;
        line-height: 1.2rem;
            font-weight: 600;
font-size: 1.6rem;
    }
    .left-side.justify-content-center {
        width: auto;
        height: auto;
        padding: 1em 0em 0em 4em;
    }
    .left-title-dec h1 {
       
        font-size: 3.99vw;
    }

    img.rectangle-img2 {
        max-width: 26vw;
        height: 22.19rem;
        transform:translate(-9em, 1em);
    

 }

 img.right-side-img-3.image {
    position: absolute;
    left: -12.49vw;
    top: 44vh;
    width: 37vw;
    transform: translate3d(0em, 0em, 0em);
    z-index: 1;
    max-height: 44vh;
}
img.right-side-img-4 {
    position: absolute;
    left: 14vw;
    height: 30em;
    top: -8vh;
    transform: rotate(188deg);
    width: 86%;
    border-radius: 50%;
    filter: blur(2em);
}
img.right-side-img-1.image {
    max-width: 16vw;

}



img.right-side-img-2.display-right-images {
    max-width: 64vw;
    position: relative;
    -o-object-fit: fill;
    object-fit: fill;
    left: -8vw;
    max-height: 86vh;
}



}



@media (min-width: 598px) and (max-width: 766px) {


.hero-section {
    overflow: auto;
    background-image: none;
    height: 103vh;
}

img.review-img {
    width: 37vw;
    -o-object-fit: contain;
    object-fit: contain;
    margin-top: 0em;
}
.review-box {
    width: auto;
    height: auto;
    padding: 0em 0em 0.31em 0em;
}


img.img-fluid.right-side-img-2.display-right-images {
    max-width: 73vw;
    height: auto;
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    top: -15vh;
    left: 17vw;
}

img.img-fluid.right-side-img-1.image {
width: 13.5vw;
height: 25vh;
position: absolute;
top: -12vh;
left: 87vw;
display: none;
}


img.right-side-img-3.image {
    position: absolute;
    left: 6.51vw;
    top: 20vh;
    width: 46vw;
    transform: translate3d(0em, 0em, 0em);
    max-height: 35vh;
    padding-bottom: 0.1em;
}


img.img-fluid.right-side-img-4 {
width: 63vw;
height: 74vh;
position: absolute;
top: -19vh;
transform: translateX(3em);
z-index: auto;
}
/* .mobile-background {
display: block;
width: 100vw;
height: 83vh;
background-image: url(/img/mobile-bg.svg);
background-color: white;
object-fit: cover;
position: absolute;
background-repeat: no-repeat;
background-size: 102% 34%;
} */
.col.col-lg-7.right-side {
    width: 100vw;
}
.mobile-background {
    width: 100vw;
    position: relative;
    display: block;
    height: 71vh;
    background-color: white;
}




}
/* Media query for desktop devices */
